<a target="_blank" href="https://colab.research.google.com/github/peterhgruber/python-intro-colab/blob/main/03Python_Data.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Introduction to Python
### Main concepts of Python ‚Äì Part 03
Peter Gruber (peter.gruber@usi.ch), 2024-04-01

## 0 Important disctinction
* Data **type** = how one *individual* observation is stored
    * int, float bool
* Data **strcture** = how *multiple* observations are stored
    * List
    * Array
    * Dataframe

## 1 Data types

### 1.1 Numeric types

**Create the following variables**
* `a` integer 5
* `b` real 5

In [ ]:
a = 5
b = 5.7

In [ ]:
print(type(a))
print(type(b))

#### 1.1.2 Convert numeric data types

In [ ]:
# "a" is integer -> To float
# Note that "a1" prints as 5.0
a1 = float(a)
print(a1, type(a1))

In [ ]:
# "b" is a float -> To integer
# Note that "b1" is truncated
b1 = int(b)
print(b1, type(b1))

### 1.2 Boolean type

In [66]:
c = True
print(type(c))

<class 'bool'>

In [67]:
# "c" --> to integer
# True = 1 and Flase = 0
c1 = int(c)
print(c1, type(c1))

1 <class 'int'>

### 1.3 Really no more data types?
* See appendix for `complex`
* Many other data types like date are part of modules

## 2 Python data structures
* Organize multiple observations in a single variable
    * Structure vs. flexibility

### 2.0 ‚ùóÔ∏èPython indexing
* Python starts indexing at 0
* Index ranges run to $n+1$

**Example**
* The first element is `0` in Python
* The first three elements are `0:3` in Python

### 2.1 Strings
* Text contains multiple letters
* A very simple data structure

In [ ]:
myString = 'Hello world!'

In [ ]:
print(type(myString))

In [ ]:
# Access individual characters
# Python starts indexing at 0
print(myString[0])

#### 2.1.1 Subsetting with the `:` operator
* Access a range of elements
* Couting starts at zero
* The first index is inclusive and the second index is exclusive

**Exercise**
* Print the word "world" in `myString` (chaters 7 to 11)

In [ ]:
# Python code goes here

### 2.2 Lists
* Very common data structure
* Useful with for-loops

**Example**
* Create a list called `first_list` with the elements 0,1,2,...,5

In [ ]:
first_list = list(range(0,6))    # <----- 6, not 5!
first_list = [0,1,2,3,4,5]
print(first_list)

#### 2.2.1 Subsetting lists
* Print the first element of the list
* Print the first three elements of the list
* Print the last element of the list

In [ ]:
print(first_list[0])
print(first_list[0:3])    # elements 0,1,2. (not 3)
print(first_list[-1])     # from the back

#### 2.2.2 Lists can contain lists

In [ ]:
# Example
my_list = [0,"one",[0,1,2]]

In [ ]:
# Exercise: access the "1" in my_list
# Python code goes here

#### üëç 2.2.3  Suggestions with lists

**Exercise**
* You want to append 7 to `my_list`
* Type `my_list.` and then `crtl`-`Space`

In [ ]:
my_list.

## 3 Advanced Data Strcutres
* The most popular data structures are not part of core Python
    * `array` is part of `scipy`
    * `dataframe` is part of `pandas`

### 3.1 Arrays
* $n$-dimensional, rectangular data structure
* All elements of same type
* Use for matrix/tensor algebra

### 3.2 Dataframes
* 2-dimensional, rectangular data structure
* Elements of one column are same data type
    * Each column can have different data type
* Use for regression analysis

## *Appendix: Summary of data types

| Data Type       | Description                                                                       |
|-----------------|-----------------------------------------------------------------------------------|
| `int`           | Integer (whole numbers, positive or negativve)                                               |
| `float`         | Floating-point                                      |
| `complex`       | Complex number (real and imaginary part)                               |
| `bool`          | Boolean type, can only have the values `True` or `False`                                            |

## *Appendix: Summary of data structures

| Data Structure       | Description                                                                  |
|-----------------|-----------------------------------------------------------------------------------|
| `str`           | Text string type, Unicode characters.                                          |
| `list`          | Ordered collection of objects. Allows duplicate entries and is mutable (changeable).                |
| `tuple`         | Ordered collection like `list`, but immutable (unchangeable).                               |
| `dict`          | Dictionary. Unordered collection of key-value pairs. Keys must be unique.                         |
| `range`         | Sequence of numbers, used in for-loops to control the number of iterations.     |
| `set`           | Unordered collection of unique objects.                                                             |
| `frozenset`     | Immutable version of `set`.                                                                      |
| `bytearray`     | Sequences of bytes.                                                                       |
| `bytes`         | Immutable version of `bytearray`                                                         |
| `memoryview`    | Memory view object exposes the buffer protocol.                                                   |
| `NoneType`      | Represents the absence of a value or a null value. Only one instance: `None`.                    |

Sequences store multiple values in an organized and efficient way. There are seven sequence types: strings, bytes, lists, tuples, bytearrays, buffers, and range objects.

- Most commonly used ones: strings, lists, and tuples
- Ranges used in for-loops
- [Sequence types Wikibooks.org](https://en.wikibooks.org/wiki/Python_Programming/Sequences#:~:text=Sequences%20allow%20you%20to%20store,are%20containers%20for%20sequential%20data.)

## The missing data structure