<a target="_blank" href="https://colab.research.google.com/github/peterhgruber/python-intro-colab/blob/main/03Python_Data.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Introduction to Python
### Main concepts of Python â€“ Part 03
Peter Gruber (peter.gruber@usi.ch), 2024-04-01

* Data types
* Data strcture

## 1 Numeric types

**Create the following variables**
* `a` integer 5
* `b` real 5
* `c` complex number 5+3i  $\quad\quad$ [Wikipedia](https://en.wikipedia.org/wiki/Complex_number)

In [4]:
a = 5
b = 5.0
c = 5+3j            # In python complex numbers use "j" instead of "i"

In [5]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [6]:
# "b" is a float -> To integer
a1 = int(b)
print(a1, type(a1))

5 <class 'int'>

In [9]:
# Rounding
d = 5.9
print(int(d))

5

In [10]:
# "a" is integer -> To float
b1 = float(a)
print(b1, type(b1))

5.0 <class 'float'>

## 2 Boolean type

Create the variable `d` containing the logical value for "correct"

In [12]:
d = True
print(type(d))

<class 'bool'>

In [13]:
# Interesting behaviour
# Probably not what you expected
d == 1

True

In [12]:
# InPython, True and False are equivalent to 0 and 1 
print(True == 1)
print(False == 0)

True
True

## 3 Sequence types

Sequences store multiple values in an organized and efficient way. There are seven sequence types: strings, bytes, lists, tuples, bytearrays, buffers, and range objects.

- Most commonly used ones: strings, lists, and tuples
- Ranges used in for-loops
- [Sequence types Wikibooks.org](https://en.wikibooks.org/wiki/Python_Programming/Sequences#:~:text=Sequences%20allow%20you%20to%20store,are%20containers%20for%20sequential%20data.)

### Strings
Create a string called `myString` with the value *Hello world!*

In [16]:
myString = 'Hello world!'

In [17]:
print(type(myString))

<class 'str'>

### Lists
Create a list called `myList` with the elements 0,1,2,...,5

In [23]:
# Range counts to one less than the max!!!
myList = list(range(0,6))    # <----- 6, not 5!
myList = [0,1,2,3,4,5]
myList = [0,"one",[0,1,2]]

In [29]:
myList[2][2]

2

#### Subsetting
* Print the first element of the list
* Print the first three elements of the list
* Print the last element of the list
* **Hint:** Python starts counting at 0
* **Hint:** Colon operator counts to "one less" than the maximum

In [20]:
# Python code goes here
print(myList[0])
print(myList[0:3])    # elements 0,1,2. (not 3)
print(myList[-1])     # from the back

0
[0, 1, 2]
5

#### Subsetting with strings

In [21]:
#A string is seen as a "sequence of characters"
print(myString[0])
print(myString[1:4])

H
ell

### Tuples
- Tuples are similar to lists
    * But immutable (= cannot change the tuple)

In [30]:
pronoun = ("me", "you", "us", "them")   # <--- Different set of brackets () vs. []
print(pronoun)

('me', 'you', 'us', 'them')

In [31]:
print(type(pronoun))

<class 'tuple'>

### (Extra) Use `Tab`
- Place a dot after `pronoun` and `myList` 
- Press `Tab`
    - View available options
    - Note: No methods to modify the tuple
- Press `ESC` to stop the display of options
    
In many Python environments, like the default Python interpreter or Jupyter notebooks, you can type the name of an object followed by a period (.) and then press the tab key to see a list of available methods for that object.

In [35]:
#pronoun.<press tab here>
pronoun

('me', 'you', 'us', 'them')

In [26]:
#myList.<press tab here>
myList

[0, 1, 2, 3, 4, 5]

## 4 Summary table


| Data Type       | Description                                                                                       |
|-----------------|---------------------------------------------------------------------------------------------------|
| `int`           | Integer (whole numbers, positive or negativve)                                               |
| `float`         | Floating-point                                      |
| `complex`       | Complex number (real and imaginary part)                               |
| `str`           | Text string type, Unicode characters.                                          |
| `bool`          | Boolean type, can only have the values `True` or `False`                                            |
| `list`          | Ordered collection of objects. Allows duplicate entries and is mutable (changeable).                |
| `tuple`         | Ordered collection like `list`, but immutable (unchangeable).                               |
| `dict`          | Dictionary. Unordered collection of key-value pairs. Keys must be unique.                         |
| `range`         | Sequence of numbers, used in for-loops to control the number of iterations.     |
| `set`           | Unordered collection of unique objects.                                                             |
| `frozenset`     | Immutable version of `set`.                                                                      |
| `bytearray`     | Sequences of bytes.                                                                       |
| `bytes`         | Immutable version of `bytearray`                                                         |
| `memoryview`    | Memory view object exposes the buffer protocol.                                                   |
| `NoneType`      | Represents the absence of a value or a null value. Only one instance: `None`.                    |

## The missing data types
* Many popular data types like `dataframe` or `array` are not part of core Python
* We discuss them with the according packages
    * `dataframe` is part of `pandas`
    * `array` is part of `scipy`
    * `float32` is part of `numpy`